.__dumi-default-navbar-logo {
  color: transparent !important;
  width: 100px;
}

.__dumi-default-layout-hero img {
  width: 250px;
}
input,
button {
  padding: 4px;
}

input[type='number'] {
  border: 1px solid rgb(118, 118, 118);
}

#logo-version {
  flex: 1;
  margin-top: 10px;
  margin-left: -30px;
  color: #a8a8ad;
  font-size: 16px;
}

.__dumi-default-code-block {
  border: 1px solid #ebedf1 !important;
}

.__dumi-default-previewer-demo {
  font-family: monospace;
  padding: 24px !important;
}

/* .__dumi-default-previewer-demo pre {
  margin: 0;
  margin: 0 -24px;
  padding: 24px;
  max-height: 50vh;
  overflow: scroll;
} */

.__dumi-default-previewer-demo pre:first-child {
  margin-top: -24px;
}

.__dumi-default-previewer-demo p {
  margin: 0 !important;
}

.__dumi-default-previewer-demo p + p,
.__dumi-default-previewer-demo pre + p {
  margin-top: 16px !important;
}
